body{
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Verdana, Helvetica, Arial, sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    padding: 16px;
    background: #1F2937;
    color: white;
}

.head-top{
    display: flex;
    justify-content:space-around;
}

.head-bottom{
    display: flex;
    flex-wrap: wrap;
    padding:16px;
    align-items: center;
    justify-content: center;
}
.head-bottom img{
    display: flex;
    flex-shrink: 1;
    max-height:300px;
    width: auto;
    height: auto;
}

.sign-up{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    
}

.sign-up button {
    background-color: #1F2937;
    width: 150px;
    height: 30px;
    color: #E5E7EB;
    border-radius: 2px;
    border: 2px solid #E5E7EB;
}

.head-image img{
    max-height: 70px;
    margin-left: 32px;
}


a{
    text-decoration: none;
    color: #E5E7EB;
  }

.content img{
    display: flex;
    padding: 16;
    border-radius: 7px;
    height: 150px;;
}

ul{
    font-size: 16px;
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
    padding: 32px;
    flex-grow: 1;
}

.title{
    display: flex;
    flex-direction: column;
    padding:32px;
    font-size: 36px;
    font-weight: 700;
    color:#1F2937;
    text-align: center;
}

.title1{
    font-size: 48px;
    font-weight: 900;
}

.title2{
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
}

.container{
    display: flex;
    justify-content:center;
    gap: 52px;
    flex-wrap: wrap;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info.text{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    max-width: 200px;
}
.quote{
    background-color: #E5E7EB;
    color: #1f2937;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-weight:100px;
    flex: auto;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20%;
    padding-right:20%;
    
}

.footer{
    display: flex;
    height: 150px;
    gap: 16px;
    display: flex;
    justify-content: center;
    background: white;


}

.card{
    display: flex;
    background-color: #1F2937;
    margin:32px;
    color: #E5E7EB;
    align-items: center;
    padding:16px 64px 16px 64px;
    border-radius: 7px;
    width: 600px;
    text-align: center;
    
}

.card button{
    background-color: #1F2937;
    width: 150px;
    height: 30px;
    margin:32px;
    color: #E5E7EB;
    border-radius: 2px;
    border: 2px solid #E5E7EB;
}